@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

h1, h2, h3 {
	margin: 0;
	line-height: 1;
	font-weight: normal;
}

p {
	margin: 0;
	line-height: 1;
}

html, body {
	height: 100%;
}

body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
}

.cat-food__main-header {
	padding: 48px 0 26px;
	font-family: "Exo 2";
	text-align: center;
	color: #fff;
}

.cat-food-main {
	min-height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), transparent,  rgba(0, 0, 0, 0.5)), url(../img/cat-food-main.png);
}


.cat-foods {
	display: flex;
	justify-content: space-between;
	max-width: 1120px;
	margin: auto;
}

@media only screen and (max-width: 1120px) {
	.cat-foods {
		flex-wrap: wrap;
		justify-content: center;
	}

	.cat-foods__item {
		margin: 0 40px 40px;
	}

}

.cat-foods__item {
	width: 320px;
}

.cat-food {
	position: relative;
	box-sizing: border-box;
	width: 320px;
	height: 480px;
	border: 4px solid #1698d9;
	border-radius: 12px;
	background: #fff;
	color: #666;
	-webkit-clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
	clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
}

.cat-food::before {
	content: '';
	position: absolute;
	width: 60px;
	height: 4px;
	left: -14px;
	bottom: calc(100% - 20px);
	background: #1698d9;
	transform: rotate(-45deg);
}


.cat-food:not(.cat-food_disabled):hover {
	border-color: #2ea8e6;
}

.cat-food:not(.cat-food_disabled):hover::before {
	background: #2ea8e6;
}

.cat-food:not(.cat-food_disabled):hover .cat-food-description__weight {
	background: #2ea8e6;
}

.cat-food_selected {
	border-color: #d91667
}

.cat-food_selected::before {
	background: #d91667;
}

.cat-food_selected:not(.cat-food_disabled):hover {
	border-color: #e62e7a;
}

.cat-food_selected:not(.cat-food_disabled):hover::before {
	background: #e62e7a;
}

.cat-food_selected:not(.cat-food_disabled):hover .cat-food-description__weight {
	background: #e62e7a;
}

.cat-food-header {
	display: flex;
	flex-direction: column-reverse;
	margin-left: 40px;
}

.cat-food_disabled {
	background: #f2f2f2;
	border-color: #b3b3b3;
	color: #b3b3b3;
}

.cat-food_disabled .cat-food-header__main,
.cat-food_disabled .cat-food-header__description {
	color: #b3b3b3;
}

.cat-food_disabled::before {
	background: #b3b3b3
}

.cat-food-header__main {
	margin-top: 10px;
	font-size: 48px;
	font-weight: bold;
	color: #000;
}

.cat-food-header__description {
	margin-top: 6px;
	font-size: 24px;
	font-weight: bold;
	color: #000;
}

.cat-food-header__title {
	margin-top: 16px
}

.cat-food-description {
	margin: 16px 0 0 40px;
}

.cat-food-description__text:last-child {
	color: red;
}

.cat-food-description__logo {
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 0 0 0 6px;
}

.cat-food_disabled .cat-food-description__logo {
	opacity: 50%;
}

.cat-food-description__weight {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	padding: 10px;
	position: absolute;
	right: 12px;
	bottom: 12px;
	background: #1698d9;
	border-radius: 50%;
	text-align: center;
	color: white;
}

.cat-food_selected .cat-food-description__weight {
	background:  #d91667;
}

.cat-food_disabled .cat-food-description__weight {
	background:  #b3b3b3;
}

.cat-food-description__weight-value {
	font-size: 42px;
}

.cat-food-description__weight-unit {
	font-size: 21px;
}

.cat-food-footer {
	margin-top: 13px;
	font-size: 13px;
	text-align: center;
	color: #fff;
}

.cat-food-footer_disabled {
	color: #ffff66
}

.cat-food-footer__link {
	display: inline-block;
	font-weight: bold;
	color: #1698d9;
	border-bottom: 1px dashed #1698d9;
}
